<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="mexget" name="Domain.Services.GameService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/GameService" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="Domain.Services.IGameService"/>
      </service>

      <service behaviorConfiguration="mexget" name="Domain.Services.MatchService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MatchService" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="Domain.Services.IMatchService"/>
      </service>

      <service behaviorConfiguration="mexget" name="Domain.Services.PlayerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/PlayerService" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="Domain.Services.IPlayerService"/>
      </service>

      <service behaviorConfiguration="mexget" name="Domain.Services.SeriesService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/SeriesService" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="Domain.Services.ISeriesService"/>
      </service>

      <service behaviorConfiguration="mexget" name="Domain.Services.TeamService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/TeamService" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="Domain.Services.ITeamService"/>
      </service>

      <service behaviorConfiguration="mexget" name="Domain.Services.ValidationService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/ValidationService" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="Domain.Services.IValidationService"/>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexget">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>