<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGameService" />
                <binding name="WSHttpBinding_IPlayerService" />
                <binding name="WSHttpBinding_IMatchService" />
                <binding name="WSHttpBinding_ISeriesService" />
                <binding name="WSHttpBinding_ITeamService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/GameService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGameService" contract="GameService.IGameService"
                name="WSHttpBinding_IGameService">
                <identity>
                    <userPrincipalName value="DESKTOP-QOAI5JT\Jacob Jallow" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/PlayerService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPlayerService" contract="PlayerService.IPlayerService"
                name="WSHttpBinding_IPlayerService">
                <identity>
                    <userPrincipalName value="DESKTOP-QOAI5JT\Jacob Jallow" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/MatchService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMatchService" contract="MatchService.IMatchService"
                name="WSHttpBinding_IMatchService">
                <identity>
                    <userPrincipalName value="DESKTOP-QOAI5JT\Jacob Jallow" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/SeriesService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISeriesService" contract="SeriesService.ISeriesService"
                name="WSHttpBinding_ISeriesService">
                <identity>
                    <userPrincipalName value="DESKTOP-QOAI5JT\Jacob Jallow" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/TeamService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITeamService" contract="TeamService.ITeamService"
                name="WSHttpBinding_ITeamService">
                <identity>
                    <userPrincipalName value="DESKTOP-QOAI5JT\Jacob Jallow" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>